/*Header.css*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-left h1 {
  font-size: 1.5em;
  color: #990000;
}

.header-left h2 {
  font-size: 1em;
  color: #FFA500;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.header-button:hover {
  background-color: #cc0000;
}

.cart-icon {
  width: 30px;
  height: 30px;
}
