.cat-container {
    position: relative;
    height: 400px;
    width: 69%;
    margin-top: -33.5em;
  }
  
  .cat img {
    width: 50%;
    position: absolute;
    left: 110%;
    transform: translateX(-50%);
  }
  