/* General styles */
.header {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  padding: 0.5em;
  border-bottom: 2px solid rgb(139, 139, 139);
}


.logo-image {
  width: 18rem; /* Default size for larger screens */
  margin-bottom: 5%; /* For hr distance from the contents */
  margin-left: -5%; 
}

.menu-open {
  display: none; /* Hide on desktop and tablet */
}


.menu-close {
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
}

.cta {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.75em;
  text-align: center;
  margin: 1em auto;
}

.login-cta {
  background: #9b1410;
  color: white;

  &:hover {

  }

  &:active {
    color: #dd2822;
  }
}

.signup-cta {
  background: rgb(248, 229, 229);
  color: #b40f0a;

  &:hover {
  }

  &:active {
    color: rgb(247, 145, 145);
  }
}

ul {
  background: #FFF5F5;
  position: fixed;
  z-index: 69;
  top: 0;
  right: -5%;
  height: 100vh;
  margin: 0;
  list-style: none;
  width: 25%;
  text-align: right;
  padding: 2em;
  transform: translateX(100%);

}

.open {
  transform: translateX(-15%);
}

ul li {
  margin: -0.4em 0;
}

ul li:nth-of-type(1) {
  margin-bottom: 2em;
  margin-top: 2em;
}

ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Removed media query from here */
