.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2em auto;
}

.primary-cta {
    background-color: #9b1410;
    padding: 1em;
    width: 80%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    color: white;
    border-radius: 0.75em;
    margin: 1em 0;
}

.primary-cta:hover {
    text-decoration: underline;
}

.primary-cta:active {
    color: #aa0303b6;
}

.rh1 {
    margin-top: 1em;
    margin-bottom: 0em;
    color: #9b1410;
    font-size: 1.35rem;
    text-align: center;

    h3{
      color: black;
    }
}

.wildcats-foods,
.wildcats-food {
    margin: 0.5em 0;
    text-align: center;
}

.express-mobile {
    color: #f2b54c;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

/* For mobile, ensure the cat image is under the primary CTA */
.cat img {
    margin-top: 1em;
    width: 80%;
}

@media (min-width: 600px) {
    /* For tablet, position the cat image accordingly */
    .cat img {
        width: 60%;
        margin-top: 2em;
    }
}

@media (min-width: 1280px) {
    /* For desktop, position the cat image to the right */
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .primary-cta {
        width: auto;
        margin-right: 2em;
    }

    .cat {
        width: 40%; /* Container for the image */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cat img {
        width: 100%;
        height: auto;
    }
}
