/* Center the reset password container and give it a max width */
.reset-password-container {
  max-width: 500px;
  width: 100%;
  margin: 60px auto 0; /* Added margin-top to move it down */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Style the heading */
h2 {
  text-align: center;
  color: #990000;
  margin-bottom: 20px;
}

/* Form layout using flexbox */
form {
  display: flex;
  flex-direction: column;
}

/* Form group layout for label and input alignment */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Label styling */
label {
  flex: 0 0 150px; /* Adjust width for mobile screens */
  text-align: right; /* Right-align label text */
  margin-right: 10px; /* Space between label and input */
  color: #990000;
}

/* Input styling */
input {
  flex: 1; /* Take remaining space in form group */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Ensure padding is included in the element's width and height */
}

/* Button styling */
button {
  padding: 10px 20px;
  background-color: #990000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #cc0000;
}

/* Toastify styling */
.Toastify__toast {
  font-size: 14px;
}

/* Media query for responsive design */
@media (max-width: 600px) {
  .reset-password-container {
    width: 350px;
    padding: 20px; /* Reduce padding for mobile screens */
  }

  .form-group {
    flex-direction: column; /* Stack label and input vertically */
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 10px; /* Reduce margin for mobile screens */
  }

  label {
    flex: 1; /* Take full width on mobile screens */
    text-align: left; /* Align text to the left for small screens */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 5px; /* Space below the label */
  }

  input {
    width: 100%; /* Make input take full width on mobile screens */
  }

  button {
    width: 100%;
    max-width: none; /* Ensure button takes full width */
  }
}
